n8n/upload-drive.json
{
  "name": "Facturas - Subir a Drive",
  "nodes": [
    {
      "id": "n1", "name": "Webhook",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2,
      "position": [240, 300],
      "parameters": { "httpMethod": "POST", "path": "facturas-drive-upload", "responseMode": "responseNode", "options": {} },
      "webhookId": "facturas-drive-upload"
    },
    {
      "id": "n2", "name": "Parsear datos",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const b = $input.first().json?.body ?? $input.first().json;\nconst trim = b.trimestre ?? 'T1';\nconst anyo = String(b.anyo ?? new Date().getFullYear());\nconst tipo = b.tipo ?? 'gasto';\nreturn [{ json: {\n  fileBase64: b.file,\n  fileName: b.nombre ?? ('factura_' + Date.now() + '.pdf'),\n  mimeType: b.mimeType ?? 'application/pdf',\n  trimFolder: trim + ' - ' + anyo,\n  tipoFolder: tipo === 'ingreso' ? 'Ingresos' : 'Gastos',\n  rootId: '1_-4IPitaopGpH6XCfcvOIhcB6c9V1cM5'\n} }];"
      }
    },
    {
      "id": "n3", "name": "Buscar carpeta trimestre",
      "type": "n8n-nodes-base.googleDrive", "typeVersion": 3,
      "position": [680, 160],
      "parameters": {
        "resource": "fileFolder",
        "operation": "search",
        "queryString": "={{ \"'\" + $json.rootId + \"' in parents and name = '\" + $json.trimFolder + \"' and mimeType = 'application/vnd.google-apps.folder' and trashed = false\" }}",
        "returnAll": false,
        "limit": 1,
        "options": {}
      }
    },
    {
      "id": "n4", "name": "Merge trimestre",
      "type": "n8n-nodes-base.merge", "typeVersion": 3,
      "position": [900, 300],
      "parameters": { "mode": "append", "options": {} }
    },
    {
      "id": "n5", "name": "Extraer ID trimestre",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [1100, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst base = items.find(it => !!it.json.fileBase64);\nconst found = items.find(it => it.json.id && !it.json.fileBase64);\nconst trimFolderId = found ? found.json.id : '';\nreturn [{ json: { ...base.json, trimFolderId } }];"
      }
    },
    {
      "id": "n6", "name": "¿Crear carpeta trimestre?",
      "type": "n8n-nodes-base.if", "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.trimFolderId }}", "rightValue": "", "operator": { "type": "string", "operation": "isEmpty" } }],
          "combinator": "and"
        }, "options": {}
      }
    },
    {
      "id": "n7", "name": "Crear carpeta trimestre",
      "type": "n8n-nodes-base.googleDrive", "typeVersion": 3,
      "position": [1500, 160],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "={{ $json.trimFolder }}",
        "folderId": { "__rl": true, "value": "={{ $json.rootId }}", "mode": "id" },
        "options": {}
      }
    },
    {
      "id": "n8", "name": "ID trimestre creado",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [1700, 160],
      "parameters": {
        "jsCode": "const created = $input.first().json;\nconst data = $('Parsear datos').first().json;\nreturn [{ json: { ...data, trimFolderId: created.id } }];"
      }
    },
    {
      "id": "n9", "name": "Buscar carpeta tipo",
      "type": "n8n-nodes-base.googleDrive", "typeVersion": 3,
      "position": [1900, 160],
      "parameters": {
        "resource": "fileFolder",
        "operation": "search",
        "queryString": "={{ \"'\" + $json.trimFolderId + \"' in parents and name = '\" + $json.tipoFolder + \"' and mimeType = 'application/vnd.google-apps.folder' and trashed = false\" }}",
        "returnAll": false,
        "limit": 1,
        "options": {}
      }
    },
    {
      "id": "n10", "name": "Merge tipo",
      "type": "n8n-nodes-base.merge", "typeVersion": 3,
      "position": [2100, 300],
      "parameters": { "mode": "append", "options": {} }
    },
    {
      "id": "n11", "name": "Extraer ID tipo",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [2300, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst base = items.find(it => 'trimFolderId' in it.json);\nconst found = items.find(it => it.json.id && !('trimFolderId' in it.json));\nconst tipoFolderId = found ? found.json.id : '';\nreturn [{ json: { ...base.json, tipoFolderId } }];"
      }
    },
    {
      "id": "n12", "name": "¿Crear carpeta tipo?",
      "type": "n8n-nodes-base.if", "typeVersion": 2,
      "position": [2500, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "c2", "leftValue": "={{ $json.tipoFolderId }}", "rightValue": "", "operator": { "type": "string", "operation": "isEmpty" } }],
          "combinator": "and"
        }, "options": {}
      }
    },
    {
      "id": "n13", "name": "Crear carpeta tipo",
      "type": "n8n-nodes-base.googleDrive", "typeVersion": 3,
      "position": [2700, 160],
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "={{ $json.tipoFolder }}",
        "folderId": { "__rl": true, "value": "={{ $json.trimFolderId }}", "mode": "id" },
        "options": {}
      }
    },
    {
      "id": "n14", "name": "ID tipo creado",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [2900, 160],
      "parameters": {
        "jsCode": "const created = $input.first().json;\nconst data = $('Extraer ID tipo').first().json;\nreturn [{ json: { ...data, tipoFolderId: created.id } }];"
      }
    },
    {
      "id": "n15", "name": "Preparar binario",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [3100, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst src = $('Parsear datos').first().json;\nconst buf = Buffer.from(src.fileBase64, 'base64');\nconst binaryData = await $helpers.prepareBinaryData(buf, data.fileName, data.mimeType);\nreturn [{ json: { ...data }, binary: { data: binaryData } }];"
      }
    },
    {
      "id": "n16", "name": "Subir archivo",
      "type": "n8n-nodes-base.googleDrive", "typeVersion": 3,
      "position": [3300, 300],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "folderId": { "__rl": true, "value": "={{ $json.tipoFolderId }}", "mode": "id" },
        "binaryPropertyName": "data",
        "options": {}
      }
    },
    {
      "id": "n17", "name": "Construir respuesta",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [3500, 300],
      "parameters": {
        "jsCode": "const f = $input.first().json;\nreturn [{ json: { success: true, fileId: f.id, fileUrl: 'https://drive.google.com/file/d/' + f.id + '/view' } }];"
      }
    },
    {
      "id": "n18", "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1,
      "position": [3700, 300],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {} }
    }
  ],
  "connections": {
    "Webhook":                    { "main": [[{ "node": "Parsear datos",             "type": "main", "index": 0 }]] },
    "Parsear datos":              { "main": [[
      { "node": "Buscar carpeta trimestre", "type": "main", "index": 0 },
      { "node": "Merge trimestre",          "type": "main", "index": 0 }
    ]] },
    "Buscar carpeta trimestre":   { "main": [[{ "node": "Merge trimestre",  "type": "main", "index": 1 }]] },
    "Merge trimestre":            { "main": [[{ "node": "Extraer ID trimestre", "type": "main", "index": 0 }]] },
    "Extraer ID trimestre":       { "main": [[{ "node": "¿Crear carpeta trimestre?", "type": "main", "index": 0 }]] },
    "¿Crear carpeta trimestre?":  {
      "main": [
        [{ "node": "Crear carpeta trimestre", "type": "main", "index": 0 }],
        [
          { "node": "Buscar carpeta tipo", "type": "main", "index": 0 },
          { "node": "Merge tipo",          "type": "main", "index": 0 }
        ]
      ]
    },
    "Crear carpeta trimestre":    { "main": [[{ "node": "ID trimestre creado", "type": "main", "index": 0 }]] },
    "ID trimestre creado":        { "main": [[
      { "node": "Buscar carpeta tipo", "type": "main", "index": 0 },
      { "node": "Merge tipo",          "type": "main", "index": 0 }
    ]] },
    "Buscar carpeta tipo":        { "main": [[{ "node": "Merge tipo", "type": "main", "index": 1 }]] },
    "Merge tipo":                 { "main": [[{ "node": "Extraer ID tipo", "type": "main", "index": 0 }]] },
    "Extraer ID tipo":            { "main": [[{ "node": "¿Crear carpeta tipo?", "type": "main", "index": 0 }]] },
    "¿Crear carpeta tipo?":       {
      "main": [
        [{ "node": "Crear carpeta tipo", "type": "main", "index": 0 }],
        [{ "node": "Preparar binario",   "type": "main", "index": 0 }]
      ]
    },
    "Crear carpeta tipo":         { "main": [[{ "node": "ID tipo creado",   "type": "main", "index": 0 }]] },
    "ID tipo creado":             { "main": [[{ "node": "Preparar binario", "type": "main", "index": 0 }]] },
    "Preparar binario":           { "main": [[{ "node": "Subir archivo",    "type": "main", "index": 0 }]] },
    "Subir archivo":              { "main": [[{ "node": "Construir respuesta", "type": "main", "index": 0 }]] },
    "Construir respuesta":        { "main": [[{ "node": "Responder",           "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
