n8n/woo-nuevo-pedido.json
{
  "name": "WooCommerce - Nuevo pedido (webhook tiempo real)",
  "nodes": [
    {
      "id": "wp1", "name": "Webhook WooCommerce",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "woo-nuevo-pedido",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "woo-nuevo-pedido"
    },
    {
      "id": "wp2", "name": "Transformar pedido",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const b = $input.first().json?.body ?? $input.first().json;\nconst o = b.id ? b : (b.order ?? b);\nif (!o.id) throw new Error('Payload sin id de pedido');\nconst row = {\n  woo_id: o.id,\n  numero: String(o.number),\n  fecha: (o.date_paid||o.date_created||'').slice(0,10)||null,\n  cliente_nombre: ((o.billing?.first_name||'')+' '+(o.billing?.last_name||'')).trim(),\n  cliente_email: o.billing?.email||'',\n  total: parseFloat(o.total)||0,\n  estado: o.status,\n  lineas: (o.line_items||[]).map(li=>li.name).join(', ')\n};\nreturn [{ json: { row_json: JSON.stringify([row]), woo_id: row.woo_id, numero: row.numero, cliente: row.cliente_nombre } }];"
      }
    },
    {
      "id": "wp3", "name": "Guardar en Supabase",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1,
      "position": [640, 300],
      "parameters": {
        "method": "POST",
        "url": "https://jtqfxakabthzakmhncrw.supabase.co/rest/v1/pedidos_woo?on_conflict=woo_id",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "sb_publishable_Wr-dnT92OLrYWsqhTrr4mw_F88RdJ2p" },
            { "name": "Authorization", "value": "Bearer sb_publishable_Wr-dnT92OLrYWsqhTrr4mw_F88RdJ2p" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.row_json }}",
        "options": {}
      }
    },
    {
      "id": "wp4", "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1,
      "position": [860, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, woo_id: $('Transformar pedido').item.json.woo_id, numero: $('Transformar pedido').item.json.numero, cliente: $('Transformar pedido').item.json.cliente }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook WooCommerce": { "main": [[{ "node": "Transformar pedido",  "type": "main", "index": 0 }]] },
    "Transformar pedido":  { "main": [[{ "node": "Guardar en Supabase", "type": "main", "index": 0 }]] },
    "Guardar en Supabase": { "main": [[{ "node": "Responder",           "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
