n8n/woo-sync-all.json
{
  "name": "WooCommerce - Sync masivo pedidos",
  "nodes": [
    {
      "id": "ws1", "name": "Webhook",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "woo-sync-pedidos",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "woo-sync-pedidos"
    },
    {
      "id": "ws2", "name": "Obtener pedidos WooCommerce",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1,
      "position": [420, 300],
      "parameters": {
        "method": "GET",
        "url": "https://www.atelierlanonna.com/wp-json/wc/v3/orders",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "consumer_key",    "value": "ck_e5baa5ce61b37009731cdaaac1c6509996c47754" },
            { "name": "consumer_secret", "value": "cs_f1e5dcd8da0d11fafe5b546ead0f76eaf4063d2a" },
            { "name": "per_page",        "value": "100" },
            { "name": "status",          "value": "any" },
            { "name": "after",           "value": "={{ $now.year + '-01-01T00:00:00' }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ws3", "name": "Transformar pedidos",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst orders = Array.isArray(input) ? input : $input.all().map(i => i.json);\nconst anyo = new Date().getFullYear();\nconst rows = orders.map(o => ({\n  woo_id: o.id,\n  numero: String(o.number),\n  fecha: (o.date_paid||o.date_created||'').slice(0,10)||null,\n  cliente_nombre: ((o.billing?.first_name||'')+' '+(o.billing?.last_name||'')).trim(),\n  cliente_email: o.billing?.email||'',\n  total: parseFloat(o.total)||0,\n  estado: o.status,\n  lineas: (o.line_items||[]).map(li=>li.name).join(', ')\n}));\nreturn [{ json: { rows_json: JSON.stringify(rows), total: rows.length, anyo } }];"
      }
    },
    {
      "id": "ws4", "name": "Guardar en Supabase",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1,
      "position": [860, 300],
      "parameters": {
        "method": "POST",
        "url": "https://jtqfxakabthzakmhncrw.supabase.co/rest/v1/pedidos_woo?on_conflict=woo_id",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "sb_publishable_Wr-dnT92OLrYWsqhTrr4mw_F88RdJ2p" },
            { "name": "Authorization", "value": "Bearer sb_publishable_Wr-dnT92OLrYWsqhTrr4mw_F88RdJ2p" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.rows_json }}",
        "options": {}
      }
    },
    {
      "id": "ws5", "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1,
      "position": [1080, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, total: $('Transformar pedidos').item.json.total, anyo: $('Transformar pedidos').item.json.anyo }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook":                    { "main": [[{ "node": "Obtener pedidos WooCommerce", "type": "main", "index": 0 }]] },
    "Obtener pedidos WooCommerce":{ "main": [[{ "node": "Transformar pedidos",         "type": "main", "index": 0 }]] },
    "Transformar pedidos":        { "main": [[{ "node": "Guardar en Supabase",         "type": "main", "index": 0 }]] },
    "Guardar en Supabase":        { "main": [[{ "node": "Responder",                   "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
